@charset "utf-8";
/* 2015-05-19 Diaosi */

body,ul,ol,li,h1,h2,h3,h4,h5,h6,p,pre,code,form,dl,dd,dt,input,textarea,button,select,th,td,iframe{ margin:0; padding:0}
html{ font:12px/1.5 \5b8b\4f53}
img{ border:0}
h1,h2,h3,h4,h5,h6{ font-size:100%; font-weight:normal}
button,input,select,textarea{ font-size:100%; vertical-align:baseline; *vertical-align:middle}
ol,ul{ list-style:none}
textarea{ overflow:auto; resize:vertical}
table{ border-collapse:collapse; border-spacing:0}
em,i,code,cite,address,th{font-style:normal}
.clear{clear:both;line-height:0;font-size:0}
.clearfix{*zoom:1;_height:1px}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden}
a{ text-decoration:none; outline:none}

.container{ background:url(../images/aside_bg.gif) repeat-y; min-width:1000px}
.header{ height:50px; background:#37424e; margin-bottom:10px; position:relative}
.logo{ color:#fff; font:24px Arial; position:absolute; top:12px; left:10px}
.logo:hover{ text-decoration:none}
.navbar{ font-family:"Microsoft yahei", sans-serif; font-size:18px; position:absolute; bottom:0; left:230px}
.navbar li{ float:left; margin:0 20px 0 0}
.navbar a{ color:#fff}
.navbar li.on{ background:#fff; border-radius:5px 5px 0 0; padding:1px 15px}
.navbar li.on a{color:#000}
.navright{ float:right; padding-top:15px}
.navright .userhead{ width:24px; height:24px; background:url(../images/icon.png) no-repeat; float:left}
.navright .username{ float:left; margin:3px 10px 0; color:#fff}
.navright .quit{ float:left; margin:3px 20px 0; color:#fff}
.aside{ width:150px; position:absolute; left:0}
.aside .item ul{ display:none}
.aside .item.open ul{ display:block}
.aside .item .title{ padding-left:20px; margin:7px 0; position:relative}
.aside .item .title span{ font:14px "Microsoft yahei"; color:#aec0d8}
.aside .item li{ padding-bottom:1px}
.aside .item li a{ color:#aec0d8; display:block; padding:7px 0 7px 30px}
.aside .item li a:hover{ background:#37424e; color:#fff}
.aside .item li.on{ border-right:4px solid #42a4ff}
.aside .item li.on a{ background:#37424e; color:#fff}
.aside .item .icon_tri,.aside .item .icon_tri i{ position:absolute; width:0; height:0; top:4px; *top:0; right:7px; border-width:6px; _border-width:0; border-style:dashed solid dashed dashed; border-color:transparent #aec0d8 transparent transparent}
.aside .item .icon_tri i{ top:-6px; left:-5px; border-color:transparent #385575 transparent transparent}
.aside .item.open .icon_tri,.aside .item.open .icon_tri i{ position:absolute; width:0; height:0; top:8px; *top:4px; right:7px; border-width:6px; _border-width:0; border-style:solid dashed dashed dashed; border-color:#aec0d8 transparent transparent transparent}
.aside .item.open .icon_tri i{ top:-7px; left:-6px; border-color:#385575 transparent transparent transparent}
.main{ margin:0 10px 0 160px}
/*按钮*/
.btn_normal{ padding:2px 7px; padding:0 7px\0; cursor:pointer}
.btn{ padding:6px 14px; color:#fff; border:1px solid; outline:none; border-radius:2px; -webkit-appearance:none; cursor:pointer}
.btn_green{ background:#35aa47; border-color:#35aa47}
.btn_grey{ border-color:#c3c3c3; color:#333 !important; background:#ececec}
.btn_grey:hover{ text-decoration:none; color:#333 !important}
.btn_blue{ border-color:#4787ed; color:#fff; background:#4787ed}
/*颜色*/
.col_red{ color:#ff0000}
.col_green{ color:#3cc051}
/*提示*/
.alert{ color:#c09853; padding:8px 35px 8px 14px; margin-bottom:15px; text-shadow:0 1px rgba(255,255,255,0.5); background:#fcf8e3; border:1px solid #fbeed5}
.alert_error{ color:#b94a48; background:#f2dede; border-color:#eed3d7}
/*隐藏*/
.hide{ display:none !important}
/*翻页*/
.paging{ margin-top:6px}
.paging .page_size{ float:left; margin-top:4px}
.paging .page_number{ float:right; box-shadow:0 1px 2px rgba(0,0,0,0.05); border-left:1px solid #ddd}
.paging .page_number .n{ float:left; cursor:pointer; border:1px solid #ddd; border-left-width:0; padding:4px 12px; color:#385575}
.paging .page_number .n:hover{ background:#f5f5f5}
.paging .page_number .dot{ color:#999; cursor:default}
.paging .page_number .dot:hover{ background:none}
.paging .page_number .n.selected{ cursor:default; color:#999; background:#f5f5f5}
.paging .page_number .n.first{ border-left-width:1px}
/*弹出层*/
.easyDialog_wrapper{ min-width:400px; *width:400px; color:#444; border:3px solid rgba(0,0,0,0); border-radius:5px; box-shadow:0 0 10px rgba(0,0,0,0.4); display:none; font-family:"Microsoft yahei", sans-serif}
.easyDialog_wrapper .easyDialog_content{ border-radius:4px; background:#fff; border:1px solid #e5e5e5}
.easyDialog_wrapper .easyDialog_title{ height:30px; line-height:30px; overflow:hidden; color:#666; padding:0 10px; font-size:14px; border-bottom:1px solid #e5e5e5; background:#f7f7f7; border-radius:4px 4px 0 0}
.easyDialog_wrapper .close_btn{ font-family:arial; font-size:18px; _font-size:12px; font-weight:700; color:#999; text-decoration:none; float:right}
.easyDialog_wrapper .close_btn:hover{ color:#333}
.easyDialog_wrapper .easyDialog_text{ padding:20px 10px}
.easyDialog_wrapper .easyDialog_footer{ padding:0 10px; *zoom:1}
.easyDialog_wrapper .easyDialog_footer:after{ content:''; display:block; height:0; overflow:hidden; visibility:hidden; clear:both}
.easyDialog_wrapper .btn_blue,.easyDialog_wrapper .btn_grey{ font-family:"Microsoft yahei", sans-serif; float:right; font-size:12px; padding:3px 12px; margin-bottom:10px}
.easyDialog_wrapper .btn_grey{ margin-left:10px}
/*表单*/
.control_group{ margin-bottom:20px}
.control_label{ font-size:14px; float:left; width:160px; text-align:right}
.control_content{ margin-left:170px}
.radio_label{ margin-right:15px; font-size:14px}
.radio_label .radio{ vertical-align:-2px; margin-right:2px}
.ipt{ width:100px}
.ipt,.textarea{ height:20px; line-height:20px; font-size:13px; border:1px solid #c7c7c7}
.textarea{ height:auto; vertical-align:-3px}
.select{ padding:2px; padding:1px\0}
/*表单顶部*/
.filter{ background:#ebebeb; padding:5px 0 10px 10px; border-top:1px solid #ddd}
.filter .item{ float:left; margin-right:20px; padding:3px 0 2px}
.filter .item:last-child{ margin-right:0}
/*通用表格*/
.table{ width:100%; font-size:12px}
.table thead{ background:#f9f9f9; border:solid #e3e3e3; border-width:1px 0}
.table thead th{ *border:solid #e3e3e3; *border-width:1px 0; color:#888; padding:4px 0 5px; text-align:left; vertical-align:top}
.table thead th:first-child{ padding-left:10px}
.table tr{ border-bottom:1px solid #e3e3e3}
.table tr:hover{ background:#f9f9f9}
.table td{ *border-bottom:1px solid #e3e3e3; padding:5px 0; vertical-align:top}
.table td:first-child{ padding-left:10px}
.table tr.no{ border:none}
.table tr.no:hover{ background:none}
.table tr.no td{ border:none}
/*通用*/
.fs_14{ font-size:14px}
.w100{ width:100px}
.w200{ width:200px}
.mr_0{ margin-right:0}
.fw_bold{ font-weight:bold}

















