@charset "utf-8";
/* 2015-05-19 Diaosi */

body,ul,ol,li,h1,h2,h3,h4,h5,h6,p,pre,code,form,dl,dd,dt,input,textarea,button,th,td,iframe{ margin:0; padding:0}
html{ font:12px/1.5 tahoma, arial, \5b8b\4f53, sans-serif}
img{ border:0}
h1,h2,h3,h4,h5,h6{ font-size:100%; font-weight:normal}
button,input,select,textarea{ font-size:100%; vertical-align:baseline; *vertical-align:middle}
ol,ul{ list-style:none}
textarea{ overflow:auto; resize:vertical}
table{ border-collapse:collapse; border-spacing:0}
em,i,code,cite,address,th{font-style:normal}
.clear{clear:both;line-height:0;font-size:0}
.clearfix{*zoom:1;_height:1px}
.clearfix:after{content:".";display:block;height:0;clear:both;visibility:hidden}
a{ text-decoration:none; outline:none}

.fs_14{ font-size:14px}
.w100{ width:100px}
.w200{ width:200px}
/*按钮*/
.btn{ border:0; padding:7px 14px; font-size:14px; cursor:pointer; outline:none; -webkit-appearance:none}
.btn_green{ background:#35aa47; color:#fff}
.btn_green:hover,.btn_green:active{ background:#1d943b}
/*颜色*/
.col_red{ color:#ff0000}
.col_green{ color:#3cc051}
/*提示*/
.alert{ color:#c09853; padding:8px 35px 8px 14px; margin-bottom:15px; text-shadow:0 1px rgba(255,255,255,0.5); background:#fcf8e3; border:1px solid #fbeed5}
.alert_error{ color:#b94a48; background:#f2dede; border-color:#eed3d7}
/*隐藏*/
.hide{ display:none !important}
/*翻页*/
.paging{ margin-top:6px}
.paging .page_size{ float:left; margin-top:4px}
.paging .page_number{ float:right; box-shadow:0 1px 2px rgba(0,0,0,0.05); border-left:1px solid #ddd}
.paging .page_number .n{ float:left; cursor:pointer; border:1px solid #ddd; border-left-width:0; padding:4px 12px; color:#0d638f}
.paging .page_number .n:hover{ background:#f5f5f5}
.paging .page_number .dot{ color:#999; cursor:default}
.paging .page_number .dot:hover{ background:none}
.paging .page_number .n.selected{ cursor:default; color:#999; background:#f5f5f5}
.paging .page_number .n.first{ border-left-width:1px}
/*弹出层*/
.easyDialog_wrapper{ min-width:400px; *width:400px; color:#444; border:3px solid rgba(0,0,0,0); -webkit-border-radius:5px; -moz-border-radius:5px; border-radius:5px; -webkit-box-shadow:0 0 10px rgba(0,0,0,0.4); -moz-box-shadow:0 0 10px rgba(0,0,0,0.4); box-shadow:0 0 10px rgba(0,0,0,0.4); display:none; font-family:"Microsoft yahei", Arial; }
.easyDialog_wrapper .easyDialog_content{ -webkit-border-radius:4px; -moz-border-radius:4px; border-radius:4px; background:#fff; border:1px solid #e5e5e5; }
.easyDialog_wrapper .easyDialog_title{ height:30px; line-height:30px; overflow:hidden; color:#666; padding:0 10px; font-size:14px; border-bottom:1px solid #e5e5e5; background:#f7f7f7; border-radius:4px 4px 0 0; }
.easyDialog_wrapper .close_btn{ font-family:arial; font-size:18px; _font-size:12px; font-weight:700; color:#999; text-decoration:none; float:right; }
.easyDialog_wrapper .close_btn:hover{ color:#333; }
.easyDialog_wrapper .easyDialog_text{ padding:25px 10px; font-size:13px; line-height:22px; }
.easyDialog_wrapper .easyDialog_footer{ padding:0 10px; *zoom:1; }
.easyDialog_wrapper .easyDialog_footer:after{ content:''; display:block; height:0; overflow:hidden; visibility:hidden; clear:both; }
.easyDialog_wrapper .btn_highlight,.easyDialog_wrapper .btn_normal{ border:1px solid; border-radius:2px; cursor:pointer; font-family:"Microsoft yahei", Arial; float:right; font-size:12px; padding:0 12px; height:24px; line-height:24px; margin-bottom:10px; }
.easyDialog_wrapper .btn_highlight{ background:#4787ed; background:-webkit-gradient(linear,center bottom,center top,from(#4787ed),to(#4d90fe)); background:-moz-linear-gradient(90deg, #4787ed, #4d90fe); border-color:#3079ed; color:#fff; }
.easyDialog_wrapper .btn_normal{ margin-left:10px; border-color:#c3c3c3; background:#ececec; color:#333; background:-webkit-gradient(linear,center bottom,center top,from(#ececec),to(#f4f4f4)); background:-moz-linear-gradient(90deg,#ececec,#f4f4f4); }
/*表单*/
.control_group{ margin-bottom:20px}
.control_label{ font-size:14px; float:left; width:160px; text-align:right}
.control_content{ margin-left:170px}
.radio_label{ margin-right:15px; font-size:14px}
.radio_label .radio{ vertical-align:-2px; margin-right:2px}
.ipt,.textarea{ color:#333; height:20px; padding:4px 6px; line-height:20px; font-size:14px; border:1px solid #e5e5e5}
.textarea{ height:auto; vertical-align:-3px}
.prompt_help{ font-size:12px; color:#aaa; margin-left:5px}
.prompt_error,.prompt_ok{ height:14px; line-height:14px; margin-left:5px; background:url(../images/icon.png) -28px 0 no-repeat; display:inline-block; padding-left:14px; color:#cc0000}
.prompt_ok{ background-position:-28px -28px; color:#3c3}
.control_content.error .prompt_error{ display:inline-block}






















